[submodule "thirdparty/ctre"]
	path = thirdparty/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
