[submodule "thirdparty/ctre"]
	path = thirdparty/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/gsl"]
	path = thirdparty/gsl
	url = https://github.com/microsoft/GSL.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/date"]
	path = thirdparty/date
	url = https://github.com/HowardHinnant/date.git
