[submodule "thirdparty/ctre"]
	path = thirdparty/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "thirdparty/re2"]
	path = thirdparty/re2
	url = https://github.com/google/re2.git
